@use '../abstracts' as *;
@use '../components';


.footer {
    width:100%;
    margin:0;
    padding: $base-padding-double;
    background-color: $primary-dark;
    color:$secondary-light;
    text-align:center;
    font-size:$font-xmall;
    line-height:1rem;

    &__link {
        color:$primary-light;
    }
}