@use '../abstracts/' as *;

.navigation {
    margin:$base-padding-double;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;

    @include for-tablet {
        justify-content: center;
    }

    &__instructions {
        flex-basis: 100%;
        text-align:center;
        color:$primary-light;
        margin:$base-padding-double 0 $base-padding 0;
    }

    &__button {
        @include for-tablet {
            margin:1rem 1rem 2rem 1rem;
        }
    }

}