@use '../abstracts/' as *;

.card {
    text-align: center;
    position: relative;
    width: 22vw;
    height: 48vh;
    margin-bottom:$base-padding-double;
    background-color: $secondary-med;
    border: 1px solid $secondary-dark;
    border-radius: 5px;
    text-transform: uppercase;
    perspective: 1000px;

    // I think we should make it so clicking on the card flips it
    &:hover &__inner {
        transform: rotateY(180deg);
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    &__front {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        position: absolute;
        left: 1.3vw;
        top: 2.2vh;
        height:43vh;
        width: 19vw;
        border: 1px solid $secondary-dark;
        border-radius: 5px;
        background-image: url("../../../assets/images/starship-04.png");
        background-size: cover;
        background-position: center;
    
    }

    &__back {
        text-align: left;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: rotateY(180deg);
        position: absolute;
        left: 1.3vw;
        top: 2.2vh;
        height:43vh;
        width: 19vw;
        border: 1px solid $secondary-dark;
        border-radius: 5px;
        background-color: $secondary-dark;
        padding-left: 1vw;
    }

    &__name {
        color: $secondary-dark;
        margin-top: .5vh;
        font-size: 1.4em;
    }

    &__price {
        position: absolute;
        bottom: 7vh;
        left: 4.5vw;
        display: inline-block;
        width: 10vw;
    }

    &__button {
        font-size: 1.2em;
        margin-left: auto;
        position: absolute;
        bottom: 2vh;
        left: 12%;
        background-color: $secondary-dark;
        color: $secondary-light;
        padding: 1vh 4vw;
        border-radius: 5px;

        &:hover {
            background-color: $primary-accent;
            color: $secondary-dark;
        }
    }

    &__category {
        color: $secondary-light;
        font-size: .8em;
        margin: 0;
        padding-bottom: .4vh;
        padding-top: 1.2vh;
    }

    &__info {
        text-transform: regularcase;
        font-size: 1.3em;
        margin: 0;
        color: $primary-accent;
    }
}