@use './partials/global' as *;

body {
    @include background('../assets/images/star-wars-backgrounds.jpg');
    display:flex;
    flex-direction: column;
    min-height:100vh;
    justify-content: space-between;
}

main {
    margin:0 auto;
    padding-top:5rem;
    max-width: $maxwidth;
}